<section id="article" ng-include="'/templates/views/articles/layout-' + Article.item.layout + '.html'" ng-click="Article.menu.close()">;</section>
<nav id="menu" style="display: none" ng-controller="MenuCtrl as Menu" ng-show="Menu.open" ng-animate="{show: 'open-menu', hide: 'close-menu'}">
  <ul>
    <li ng-repeat="item in Menu.articles">
      <a ng-href="/article/{{item.id}}" navigate="navigate"><img ng-src="{{item.image}}" width="30%"><span>{{item.navName}}</span>
      </a>
    </li>
    <li>
      <a ng-href="/about" navigate="navigate"><img ng-src="/images/tiles/about.svg" width="30%"><span>ElementX</span>
      </a>
    </li>
    <li>
      <a ng-href="/" navigate="navigate" class="home"><img ng-src="/images/home_icon.svg" width="10%">
      </a>
    </li>
  </ul>
</nav>